@model List<Restaurant>

<form asp-action="Index" method="get">
        <input name="searchItem" type="text" />
        <button type="submit">Search</button>
</form>

@{
    var uniqueName = User.FindFirst("unique_name").Value;
    var email = User.FindFirst("email").Value;
    var role = User.FindFirst("role").Value;
}

<p>Email : @email</p>
<p>Welcome, @uniqueName. You are logged in as: @role.</p>


@*Knapp för att logga ut*@
<form asp-controller="Account" asp-action="Logout" method="post">
    <button type="submit" class="btn btn-danger">Logout</button>
</form>
<br />

@foreach (var r in Model)
{
    <div class="card" style="width:18rem">
        <div class="card-body">
            <h5 class="card-title">@r.Name</h5>
            <p class="card-text">address : @r.Address <br/> phonenumber : @r.PhoneNumber </p>
            <p class="card-text"></p>
        
            <a asp-controller="Restaurants" asp-action="Edit" asp-route-id="@r.Id" class="btn btn-warning">Edit</a>
            
            <form method="post" asp-action="Delete" style="display:inline;">
                <input type="hidden" name="id" value="@r.Id" />
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>


        </div>
    </div>


}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Restaurant Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Restaurangnamn</h1>
    <p>information about restaurantplaceholder ,restaurant page :  <a href="https://learn.microsoft.com/aspnet/core">restaurantpageplaceholder</a>.</p>
</div>


